.example-spacer {
  flex: 1 1 auto;
}

.main-body{
  padding-top: 20px;
  max-width:1248px;
    mat-form-field {
      width: 100%;
  }
}

mat-toolbar{
  background: pink;
}

.title{
  color: white;
}


.update{
  display: row;
  width: 48%;
  margin-left:1px;
}
 